body {
  padding-top: 10px;
  padding-bottom: 40px;
  padding-left: 100px;
  padding-right: 100px;
}

.date-field {
	max-width: 300px;
}

.diagnosis-field{
	min-width: 500px;
	max-width: 500px;
}

.check-padded{
	padding-left: 50px;
}